body {
    color: black;
    background-color: black;
}

.bellaGram1 {
    width: 400px;
    background: white;
    height: 2000px;
    margin: auto;

    
}
.bellaGram2 {
    margin: auto;
    color: coral;
    font-family: sans-serif;
    text-align: center;

}
